.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: rgb(16,210,209);
  background: radial-gradient(circle, rgba(16,210,209,1) 0%, rgba(0,0,80,1) 77%);
}

li {
  color: white;
  margin-bottom: 8px;
}

img {
  height: 400px;
  margin-left: 50px;
}

h1 {
  margin-left: 30px;
  margin-bottom: 25px;
}
