* {
  background-color: black;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.CharactersList_wrapper {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  padding: 10px 0;
}

.character-name {
  list-style: none;
  font-family: 'Notable', sans-serif;
  padding: 40px 0px;
  font-size: 32px;
  color: #ffe91a;
}
