.App {
  margin-top: 20px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

button:hover {
  background: black;
  color: white;
}

.chars {
  list-style: none;
  padding-left: 0;
}

.chars > li {
  border: 1px solid black;
  border-radius: 2px;
  margin: 0 auto 15px;
  padding: 8px 0;
  width: 50%;
}

.chars > li:hover {
  background: black;
  color: white;
  transition-duration: 500ms;
}

.error {
  color: red;
  text-align: center;
  margin-top: 50px;
}
