.App {
  text-align: center;
}

i {
  font-size: 200%;
  color: palevioletred;
  margin-top: 10%;
}

.chars {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 800px;
margin: 5% auto;
}

.char {
  height: 100px;
  width: 200px;
  background: pink;
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
  border: solid rgba(247, 247, 130, 0.808) 5px;
  border-radius: 5px;
}

h1 {
  margin: 0 30% 3%;
  font-size: 350%;
  font-family: 'Luckiest Guy', cursive;
}

